#menu{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#menu li {
    float: left;
    /*border-right: 1px solid #bbb;*/
    align: center;
}
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;  
    text-decoration: none;
    font-size: 18px;
    text-indent: 0px;
}
#menu li .home {
    background-color: #238b45;
}
#menu li .home:hover {
    background-color: #41ae76;
}
#menu li .OCI {
    background-color: #0868ac;
}
#menu li .OCI:hover {
    background-color: #2b8cbe;
}
#menu li .inscritos {
    background-color: #ff7f00;
}
#menu li .inscritos:hover {
    background-color: #ffaf0a;
}
#menu li .fase1 {
    background-color: #993300;
}
#menu li .fase1:hover {
    background-color: #b33c00;
}
#menu li .maratona {
    background-color: #cca300;
}
#menu li .maratona:hover {
    background-color: #e0b70d;
}
#menu li .conclusao {
    background-color: #adad85;
}
#menu li .conclusao:hover {
    background-color: #b8b894;
}
#menu li .about {
    background-color: #E31A1C;
}
#menu li .about:hover {
    background-color: #FC4E2A;
}
#head_logo{
    position: relative;
    padding-top: 80px;
}